
<%- include("./partials/header") %>

<h1>All cohorts</h1>


<% cohorts.forEach(cohort => { %>
  <div class="card" style="width: 18rem;">
  <img src="<%= cohort.img_url %>" class="card-img-top" alt="<%= cohort.username %>'s cohort">
  <div class="card-body">
    <h5 class="card-title"><%= cohort.content %></h5>
    <p class="card-text"><%= cohort.username %> </p>
    <div class="d-flex">
      <a href="/cohorts/<%= cohort.id %>" class="btn btn-primary mr-2">Show</a>
      <form action="/cohorts/<%= cohort.id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE" />
        <input type="submit" class="btn btn-danger" value="Delete" />
      </form>
    </div>
  </div>
  </div>
<% }) %>

<%- include("./partials/footer") %>

